
<?- contentFor('title') ?>
Restablece tu contraseña

<?- contentFor('css') ?>

    <link href="<?= asset(env('css') + '/auth.min.css') ?>" rel="stylesheet">
    <link href="<?= asset(env('css') + '/auth.queries.min.css') ?>" rel="stylesheet">

<?- contentFor('footer') ?>

    <!-- <script src="<?= asset(env('js') + '/output/auth.bundle.js') ?>"></script> -->

<?- contentFor('body') ?>

<div class="row justify-content-center mx-auto mt-5">
    <? if(error.length > 0) { ?>
            <div class="col-11 col-sm-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                <div class="alert alert-danger alert-dismissible fade show m-0" role="alert">
                    <span><?= error ?></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
    <? } ?>
</div>

<div class="container mb-5 mt-3 row justify-content-center mx-auto">
    
    <form action="<?= route('passwordUpdate') ?>" class="card col-11 col-sm-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5 py-4 auth" method="post">

        <h1 class="text-center">Reestablece tu contraseña</h1>
        <p class="col-12 my-3">A continuación puedes cambiar tu contraseña para recuperar el acceso a tu cuenta.</p>

        <div class="form-group col-12">
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" id="password" placeholder="Correo electrónico" name="email">
        </div>

        <div class="form-group col-12">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password">
        </div>

        <div class="form-group col-12">
            <label for="password_confirmation">Confirmar contraseña</label>
            <input type="password" class="form-control" id="password_confirmation" placeholder="Confirmar contraseña" name="password_confirmation">
        </div>

        <input type="hidden" name="token" value="<?= req.params.token ?>">

        <? if (Object.keys(errors).length > 0) { ?>
            
            <div class="errors">
                <? getErrorsArray(errors).forEach(message => { ?>

                    <p><?= message ?></p>
    
                <? }); ?>
            </div>

        <? } ?>

        <div class="button-container">
            <button class="btn btn-dark" type="submit" id="submit">Cambiar contraseña</button>
        </div>
        
    </form>

</div>